<h1>Blog posts</h1>

<% @posts.each do |post| %>
    <div class="card" style="margin: 15px;">
        <div class="card-body">
            <h3><%= post.title %></h3>
            <p><%= post.body %></p>
            <%= link_to 'Read more', post_path(post), :class => 'btn btn-primary' %>
        </div>
    </div>
<% end %>